body {
  margin: 0;
  padding: 0;
}

header img {
  max-width: 100%;
}

.divider {
  height: 10px;
  background-color: blue;
}

.marquee {
  background-color: scr/fon2.jpg;
  color: white;
  padding: 10px;
}

.section1 {
  background-image: scr/fon3.jpg;
  background-size: cover;
}

.section2 {
  background-image: url(scr/fon3.jpg);
  background-size: cover;
}

.section3 {
  background-image: url(scr/fon4.jpg);
  background-size: cover;
}

.footer-content {
  background-image: url(scr/fon4.jpg);
  padding: 10px;
  color: white;
}

aside {
  width: 200px;
  background-color: lightgray;
  padding: 10px;
}

aside ul {
  list-style-type: none;
  padding: 0;
}

aside ul li {
  margin-bottom: 10px;
}

.button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: gray;
  color: white;
  text-align: center;
  text-decoration: none;
}

/* Стили для боковой панели */
aside {
  width: 200px;
  background-color: lightgray;
  padding: 10px;
}

aside ul {
  list-style-type: none;
  padding: 0;
}

aside ul li {
  margin-bottom: 10px;
}

/* Стили для основного контента */
.content-section {
  /* Добавьте стили для основного контента по вашим требованиям */
}


.button:hover {
  background-color: darkgray;
}
